body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(17, 16, 16);
}

#bg {
    height: 900px;
    width: 2000px;
    margin: 30px 30px;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    align-content: center;
    
    
    
}

#info {
    
    font-family: fantasy;
    font-size: 15em;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 50px 30px;
    padding: 30px;
    fill: #000;
}



#masked {
    mask: url("#maskLayer");
}